@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }

  .LinkedIn:hover {
    filter: invert(29%) sepia(81%) saturate(5137%) hue-rotate(183deg) brightness(92%) contrast(89%);
  }

  .GitHub:hover {
    filter: invert(11%) sepia(8%) saturate(1132%) hue-rotate(169deg) brightness(99%) contrast(88%);
  }

  .Portfolio:hover {
    filter: invert(15%) sepia(93%) saturate(3609%) hue-rotate(288deg) brightness(88%) contrast(106%);
  }

  .IconHouse:hover {
    filter: invert(98%) sepia(92%) saturate(4395%) hue-rotate(152deg) brightness(91%) contrast(97%);;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }

  .mainContainer {
    @apply w-[85vw] mx-auto max-w-[700px];
  }
  
  .mainContainerHome {
    @apply w-[85vw] mx-auto max-w-[1600px];
  }

  .contentPost {
    @apply my-10 !text-[#4e4e4e];
  }

  .contentPost h3 {
    @apply font-semibold text-xl mb-4 mt-14;
  }

  .contentPost p span {
    @apply mb-5 !text-base !leading-7 sm:!leading-8 block font-serifRoboto;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}
